{%extends 'adminapps/inherit.html'%} <!-- 繼承template下的inherit -->
{%block inherit1%} <!-- 繼承開始 -->
{% load static %} <!-- 載入static以使用靜態文件 -->
    <!-- 使用者姓名 -->
    <div class="sidebar">
      <!-- Sidebar user panel (optional) -->
      <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
          <img src="{% static 'dist/img/user2-160x160.jpg' %}" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
          <a href="#" class="d-block">kai</a>
        </div>
      </div>

      <!-- Sidebar Menu -->
      <nav class="mt-2">
        <ul class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
          <!-- Add icons to the links using the .nav-icon class
               with font-awesome or any other icon font library -->
          <li class="nav-item has-treeview menu-open">
            <a href="#" class="nav-link active">
              <i class="nav-icon fas fa-tachometer-alt"></i>
              <p>
                選擇公告
                <i class="right fas fa-angle-left"></i>
              </p>
            </a>
            <ul class="nav nav-treeview">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>最新消息</p>
                </a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="far fa-circle nav-icon"></i>
                  <p>系統公告</p>
                </a>
              </li>
            </ul>
          </li>
        </ul>
      </nav>
      <!-- /.sidebar-menu -->
    </div>
    <!-- /.使用者姓名 -->

  <!-- 側邊欄的最後（勿刪） -->
  </aside>

  <!-- Content Wrapper. Contains page content kaikai-->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0 text-dark">公告</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <section class="content">
      <div class="container-fluid">
        <!-- Main row -->
        <div class="row">
          <!-- Left col -->
          <div class="card card-warning col-md-8">
            <div class="card-header">
              <h3 class="card-title">公告事項</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <form role="form">
                <div class="row">
                  <div class="col-sm-2">
                    <!-- text input -->
                    <div class="form-group">
                      <label>分類</label>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <!-- text input -->
                    <div class="form-group">
                      <label>標題</label>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <!-- text input -->
                    <div class="form-group">
                      <label>時間</label>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <!-- textarea -->
                    <div class="form-group">
                      <label>內容</label>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <textarea class="form-control" rows="3" placeholder="Enter ..."></textarea>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-sm-2">
                    <!-- text input -->
                    <div class="form-group">
                      <label>點閱</label>
                    </div>
                  </div>
                  <div class="col-sm-8">
                    <div class="form-group">
                      <input type="text" class="form-control" placeholder="Enter ...">
                    </div>
                  </div>
                </div>
              </form>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.col -->

          <div class="col-md-4">
            <button type="button" class="btn btn-block btn-outline-primary btn-lg">修改</button>
            <button type="button" class="btn btn-block btn-outline-success btn-lg">新增</button>
            <button type="button" class="btn btn-block btn-outline-danger btn-lg">刪除</button>
          </div>
          <!-- /.col -->
        </div>
        <!-- /.row -->



      </div><!--/. container-fluid -->
    </section>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
  </aside>
  <!-- /.control-sidebar -->
{%endblock inherit1%}

{%block script%}
<!-- 卡片內容 -->
<script type="text/javascript">
  $.getJSON("announce_card", function(rawdata){
    // 取出所有資料
    data = rawdata.data;
    // 將資料一行一行寫到網頁
    row1 = data[0];
    row2 = data[1];
    console.log(row1)
    // 呼應到網頁的 class = announcemain
    $('.cardname01').append(row1[0]);
    $('.cardvalue01').append(row2[0]);
    $('.cardname02').append(row1[1]);
    $('.cardvalue02').append(row2[1]);
    $('.cardname03').append(row1[2]);
    $('.cardvalue03').append(row2[2]);
    $('.cardname04').append(row1[3]);
    $('.cardvalue04').append(row2[3]);
    $('.cardname05').append(row1[4]);
    $('.cardvalue05').append(row2[4]);
    $('.cardname06').append(row1[5]);
    $('.cardvalue06').append(row2[5]);
    $('.cardname07').append(row1[6]);
    $('.cardvalue07').append(row2[6]);
    $('.cardname08').append(row1[7]);
    $('.cardvalue08').append(row2[7]);
  });
</script>
<!-- 公告欄內容 -->
<script type="text/javascript">
  $.getJSON("announce_main", function(rawdata){
    // 取出所有資料
    data = rawdata.data;
    // 將資料一行一行寫到網頁
    for (let i = 0; i < 6; i++) {
      row = data[i];
      if (row) {
        // 呼應到網頁的 class = announcemain
        $('.announcemain').append(
'<tr><th>分類</th><th>'+row[0] +'</th></tr>'+
'<tr><th>標題</th><th>'+row[1]+'</th></tr>'+
'<tr><th>時間</th><th>'+row[2]+'</th></tr>'+
'<tr><th>內容</th><th>'+row[3]+'</th></tr>'+
'<tr><th>點閱</th><th>'+row[4]+'</th></tr>')
      }
    }
  });
</script>
<!-- 下一頁 -->
<script type="text/javascript">
  $(".nextpage").click(function(){
    //使用php Post
    $.ajax({
      url: "announce_main",
      //成功後的回應
      success: function(rawdata){
        // 取得頁碼轉int
        page = $('.pagenumber').text();
        page = parseInt(page, 10);
        //翻頁
        nextpage = page+1;
        //下頁對應在list的位置
        tail = nextpage * 6;
        head = tail - 6;
        // 取出所有資料
        data = rawdata.data;
        //如果下一頁有資料才會觸發更新
        if (head <= data.length) {
          //清空內容與頁碼
          $('.announcemain').empty();
          $('.pagenumber').empty();
          //更新頁碼
          $('.pagenumber').append(nextpage);
          // 將資料一行一行寫到網頁
          for (let i = head; i < tail; i++) {
            row = data[i];
            if (row) {
              // 呼應到網頁的 class = announcemain
              $('.announcemain').append(
              '<tr><td>'+row[0] 
              +'</td><td>'+row[1]
              +'</td><td>'+row[2]
              +'</td><td>'+row[3]
              +'</td></tr>');
            }
          }
        }
      }
    });

  });

</script>
<!-- 上一頁 -->
<script type="text/javascript">
  $(".previouspage").click(function(){
    //使用php Post
    $.ajax({
      url: "announce_main",
      //成功後的回應
      success: function(rawdata){
        // 取得頁碼轉int
        page = $('.pagenumber').text();
        page = parseInt(page, 10);
        //頁碼大於一才會更新
        if (page>1) {
          //翻頁
          previouspage = page-1;
          //下頁對應在list的位置
          tail = previouspage * 6;
          head = tail - 6;
          // 取出所有資料
          data = rawdata.data;
          //清空內容與頁碼
          $('.announcemain').empty();
          $('.pagenumber').empty();
          //更新頁碼
          $('.pagenumber').append(previouspage);
          
          // 將資料一行一行寫到網頁
          for (let i = head; i < tail; i++) {
          row = data[i];
          if (row) {
            // 呼應到網頁的 class = announcemain
            $('.announcemain').append(
            '<tr><td>'+row[0] 
            +'</td><td>'+row[1]
            +'</td><td>'+row[2]
            +'</td><td>'+row[3]
            +'</td></tr>');
          }
        }
        }
      }
    });

  });

</script>

{%endblock script%}